* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.wrapper {
  width: 1440px;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 1440px;
  height: 85px;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 9;
  background-color: white;
}
.navbar .logo-container {
  width: 20%;
}
.navbar .menu {
  width: 50%;
  display: flex;
  text-decoration: none;
  list-style: none;
}
.navbar .menu ul {
  display: block;
}
.navbar .menu a {
  text-decoration: none;
  margin: 15px;
  color: #9f9ea4;
}

.menu__boton {
  background-image: linear-gradient(90deg, #31D35C, #2BB7DA);
  padding: 13px 30px 13px 30px;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: 700;
}

.central-content {
  margin: 0 auto;
  margin-left: 50px;
  display: grid;
  height: 700px;
  width: 100%;
  background-color: #fafafa;
  grid-template-areas: "texto texto texto img img img img";
  align-items: center;
}
.central-content .central-content__text {
  z-index: 2;
  position: relative;
  padding-left: 20px;
  top: -450px;
  width: 80%;
  grid-area: texto;
}
.central-content .central-content__text h1 {
  width: 60%;
  font-size: 47px;
  font-weight: 300;
  color: #313443;
}
.central-content .central-content__text p {
  color: #9898a0;
  line-height: 1.5;
  width: 85%;
  margin-top: 20px;
}
.central-content .central-content__text button {
  margin-top: 30px;
}
.central-content figure {
  display: grid;
  grid-gap: 2px;
  grid-area: img;
}
.central-content figure #cel {
  position: relative;
  z-index: 1;
  width: 100%;
}
.central-content figure #cel2 {
  position: relative;
  top: -910px;
  left: -130px;
  z-index: 0;
  width: 150%;
}

.easy {
  height: auto;
  background-color: #f4f5f7;
  margin: 0 auto;
  width: 100%;
  padding-left: 50px;
}
.easy .easy__title {
  width: 50%;
  margin: 50px 0px;
}
.easy .easy__title h2 {
  font-size: 40px;
  font-weight: 300;
  padding: 30px 0 30px 0;
  color: #3a3b4f;
}
.easy .easy__title p {
  font-size: 20px;
  color: #9898a0;
}
.easy .easy__reasons {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  display: grid;
  grid-template-areas: "articulo1 articulo2 articulo3 articulo4";
  grid-gap: 20px;
}
.easy .easy__reasons article h3 {
  color: #3a3b4f;
  padding: 20px 0px;
}
.easy .easy__reasons article p {
  color: #9e9ea6;
}
.easy .easy__reasons .article1 {
  grid-area: articulo1;
  width: auto;
}
.easy .easy__reasons .article2 {
  grid-area: articulo2;
  width: auto;
}
.easy .easy__reasons .article3 {
  grid-area: articulo3;
  width: auto;
}
.easy .easy__reasons .article4 {
  grid-area: articulo4;
  width: auto;
}

.news {
  margin: 0 auto;
  margin-left: 50px;
  height: 550px;
}
.news h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 40px 0;
}
.news .news__articles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.news .news__articles article {
  width: 90%;
}
.news .news__articles article img {
  width: 85%;
  height: 200px;
  overflow: hidden;
}
.news .news__articles article h5 {
  width: 70%;
  font-size: 10px;
  margin: 30px 0 10px 0;
}
.news .news__articles article h4 {
  width: 70%;
  color: #3c3b41;
  margin-bottom: 15px;
  font-weight: 400;
}
.news .news__articles article p {
  width: 70%;
  font-size: 13px;
  font-weight: 300;
  color: #9f9ea3;
}

footer {
  background-color: #2d314e;
  height: 150px;
  align-content: center;
  width: 100%;
  height: 100%;
}
footer div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  margin: 0 auto;
  width: 80%;
  height: 150px;
}
footer div figure {
  align-items: end;
  display: flex;
  height: 75px;
  grid-row: 1/2;
}
footer div .social {
  width: 100%;
  height: auto;
  align-items: flex-end;
  justify-content: space-between;
  grid-column: 1/2;
}
footer div .menu2 {
  flex-direction: column;
  height: 150px;
  display: flex;
  justify-content: end;
}
footer div .menu2 a {
  color: white;
  text-decoration: none;
  padding: 10px 0px 10px 10px;
}
footer div .menu_footer2 {
  grid-row: 1/3;
}
footer div .menu_footer {
  grid-row: 1/3;
}
footer div p {
  font-size: 13px;
  grid-column: 5/6;
  grid-row: 2/3;
  align-items: flex-end;
  display: flex;
  padding-bottom: 10px;
  text-align: center;
  color: #707183;
}
footer .menu__boton--mod {
  background-image: linear-gradient(90deg, #31D35C, #2BB7DA);
  padding: 13px 20px 13px 20px;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: 700;
  height: 40px;
  grid-column: 5/6;
  grid-row: 1/2;
  width: 40%;
  margin-top: 50px;
  margin-left: 40px;
}

/*# sourceMappingURL=styles.css.map */
